{% extends "website/layout.html" %}

{% block body %}
<div style="margin-left: 10px; ">

    <form method="post">
        <div class="form-group">
          {% csrf_token %}
              <p>Fecha de vacunación: {{ cargar_vacuna_form.fecha }} </p>
              <p style="color:gray">Vacuna: {{ cargar_vacuna_form.vacuna }} </p>
            </div>
              {% for error in cargar_vacuna_form.errors %}
                <p style="color: red">{{ error }}</p>
              {% endfor %}
          <div class="row form-group">
            <input  class="btn btn-outline-success"  type="submit" value="Cargar vacuna" style="width: 150px;">
        
        </div>
        </div>
        
      </form>
    </div>
{% endblock %}