{% extends "website/layout.html" %}

{% block body %}<!DOCTYPE html>
<head>
    <meta charset="UTF-8">
    <title>Requisitos</title>
</head>

<div id=tabla3>
     <div   style="  border: 2px solid #198754;">
            <h3 style= "text-align: center"> Requisitos Vacuna Covid-19</h3>
       <ul >
           <li>Debe ser mayor a 18 años</li>
           <li>tener cargados los datos de su esquema de vacunación</li>
           <li>para solicitar el turno de la segunda dosis debera tener la primera dosis aplicada</li>
       </ul>
         <br><br>
     </div>

    <div style="border: 2px solid #198754;">
    <br>
     <h3 style= "text-align: center"> Requisitos Vacuna Gripe A</h3>

                <ul>
                    <li>Debe ser mayor a 18 años</li>
                    <li>tener cargados los datos de su esquema de vacunación</li>
                </ul>
       <br>
    </div>

     <div style="border: 2px solid #198754; te">
      <br>
         <h3  style="text-align: center" > Requisitos Vacuna Fiebre Amarilla</h3>
            <ul>
               <li> Puede presentarse en los  nuestros vacunatorios, es aplicada sin turno</li>
            </ul>
       <br><br>
     </div>
</div>

{% endblock %}
