{% extends "website/layout.html" %}

{% block body %}
<div style="color:black">
    <p style= "text-align: center"> {{prueba}}</p>
</div>
<div style="display:flex">
    <a class="navbar-brand mx-8" href="{% url 'solicitar_turno_covid' %}"><div style="margin-right:200px; margin-left:200px">Solicitar turno vacuna COVID</div></a>
    <a class="navbar-brand mx-8" href="{% url 'solicitar_turno_gripe' %}"><div style="margin-right:200px; margin-left:200px">Solicitar turno vacuna Gripe A</div></a>
</div>
 
 {% endblock %}
