{% extends "website/layout.html" %}

{% block body %}
<div style="color:black">
    <p style= "text-align: center"> {{prueba}}</p>
</div>
<div style="display:flex">
    <div class="card" style="width: 18rem;">
        <div class="card-body">
          <h5 class="card-title">Vacuna Covid</h5>

          <div class="nav-item"><a class="btn btn-outline-dark mt-auto" href="{% url 'solicitar_turno_covid' %}">Solicitar</a></div>
        </div>
      </div>
      <div class="card" style="width: 18rem;">
        <div class="card-body">
          <h5 class="card-title">Vacuna Covid 2da dosis</h5>

          <div class="nav-item"><a class="btn btn-outline-dark mt-auto" href="{% url 'solicitar_turno_covid2' %}">Solicitar</a></div>
        </div>
      </div>
      <div class="card" style="width: 18rem;">
        <div class="card-body">
          <h5 class="card-title">Vacuna Gripe A</h5>
 
          <div class="nav-item"><a class="btn btn-outline-dark mt-auto" href="{% url 'solicitar_turno_gripe' %}">Solicitar</a></div>
        </div>
      </div>
    </div>
 
 {% endblock %}
