{% extends "website/layout.html" %}

{% block body %}
{% if request.user.es_administrador %} 
<div class="container">
  
  <div class="row">
    {% load index %}
    <details> 
      <summary> Estadisticas de vacunados </summary>
      <div class="col">
        {% load total %}
        {% for vacunatorio in datosGenerales %}
        <h1>{{vacunatorio|index:0}}</h1>
        {% for vacunas in vacunatorio.1 %}
        <p>Cantidad de vacunados de <u>{{vacunas|index:0}}</u> : <strong>{{vacunas|index:1}} persona </strong></p>
        {% endfor%}
        {% endfor  %}
        <h1>Totales</h1>
        {% for dato in datosGenerales|total%}
        <p> {{dato|index:0}} <strong>{{dato|index:1}} persona</strong></p>
        {% endfor %}
      </div>
      <hr class="bg-dark border-dark border-4 border-top">
    </details>
    <details>
      <summary>Ver vacunadores</summary>
      <div class="col">
       {% for vacunador in datosVacunadores %}
        <h4>{{vacunador|index:0}}</h4>
        {% for datos in vacunador.1 %}
          {% if datos.nombre %}
            <a href="{% url 'ver_perfil_vacunador' datos.id %}">{{datos.nombre}} {{datos.apellido}}</a>
          {% else %}
            <h5> {{datos}}</h5>
          {% endif %}
        {% endfor %}
       {% endfor %}
      </div>
      </details>
  </div>
</div>

</div>

{% else %} <h5> No tienes permisos para ver esta página</h5>
{% endif %}
{% endblock %}
