{% extends "website/layout.html" %}

{% block body %}
{% if not request.user.es_vacunador  and not request.user.es_administrador %}
<div class="container">
    
    <div class="row">
    <div class="col">
        <table>
                <h1>Estos son tus próximos turnos</h1>
                {% for un_turno in lista_turnos %}
                <div class="col mb-5">
                    <div class="card h-100">
                        <div class="card-body p-4">
                            <div class="text-center">
                                <h5 class="fw-bolder">Turno aceptado para: {{ un_turno.vacuna }}</h5>
                                <b> Debe asistir el día: {{ un_turno.fecha }}, a {{un_turno.vacunatorio}}, entre las 8hs y las 18hs. </b> 
                                <div class="text-center"> <span> En caso de no poder asistir ese día, cancele el turno y vuelva a solicitarlo. </span> </div>
                                <div class="nav-item"><a class="btn btn-outline-dark mt-auto" href="{% url 'cancelar_turno_usuario' un_turno.id %}">Cancelar turno</a></div>
                            </div>
                        </div>
                    </div>
                </div>
                {% endfor  %}
            </table>
        </div>
        
    </div>
</div>

</div>

{% else %} <h5> No tienes permisos para ver esta página</h5>
{% endif %} 
{% endblock %}
