{% extends "website/layout.html" %}

{% block body %}
<div class="container">

  <div class="row">
    <div class="col">
        <form action="" method="post" enctype=multipart/form-data>
            {% csrf_token %}
            <h4 class="card-text">{{lista_vacunas.0.user.nombre}} {{lista_vacunas.0.user.apellido}}, DNI: {{lista_vacunas.0.user.dni}}</h4>
            <table>
                {% for vacuna in lista_vacunas %}
                <div class="card" style="width: 18rem;">
                    <div class="card-body">
                      <h5 class="card-title">{{ vacuna.vacuna }}</h5>
                      <p class="card-text">{{ vacuna.fecha }}</p>
                      {% if not request.user.es_vacunador%}
                        {% if not request.user.es_administrador%}
                          <div class="nav-item"><a class="btn btn-outline-dark mt-auto" onclick="eliminar({{vacuna.id}})" href="#">Eliminar vacuna</a></div>
                        {%endif%}
                      {%endif%}
                        </div>
                  </div>
                {% endfor  %}    
            </table>
        </form>
    </div>
        
    </div>
  </div>

</div>
<script>
  function eliminar(id){
    Swal.fire({
      "title": "¿Estás seguro?",
      "text": "Esta acción no se podrá deshacer",
      "icon":"question",
      "showCancelButton":true,
      "cancelButtonText":"No, salir",
      "confirmButtonText":"Sí, eliminar",
      "reverseButtons":true,
      "confirmButtonColor":"#dc3545"
    })
    .then(function(result){
      if(result.isConfirmed){
        window.location.href= "ver_historial_vacunacion/"+id+"/eliminar_vacuna_usuario/"+id+"/"
      }

    })
  }
</script>
 {% endblock %}
