{% extends "website/layout.html" %}

{% block body %}
{% if request.user.es_administrador %} 
<div class="container">
  
  <div class="row">
      <div class="col">
        <table >
            <thead>
              <tr>
                <th style="padding:15px">Nombre y apellido</th>
                <th style="padding:15px">DNI</th>
                <th style="padding:15px">Fecha de nacimiento</th>
                <th style="padding:15px">Vacunatorio</th>
                <th style="padding:15px">Fecha de vacunacion</th>
                <th style="padding:15px">Vacuna aplicada</th>
              </tr>
            </thead>
            <tbody>
                {% for turno in turnos %}
                    <tr>
                        <td style="padding:15px">{{turno.user.nombre}}  {{turno.user.apellido}}</td>
                        <td style="padding:15px">{{turno.user.dni}}</td>
                        <td style="padding:15px">{{turno.user.fecha_nacimiento}}</td>
                        <td style="padding:15px">{{turno.vacunatorio.nombre}} en {{turno.vacunatorio.ubicacion}}</td>
                        <td style="padding:15px">{{turno.fecha}}</td>
                        <td style="padding:15px">{{turno.vacuna.nombre}}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
      </div>

    </div>
    </div>
    {% else %} <h5> No tienes permisos para ver esta página</h5>
    {% endif %}
    {% endblock %}
    
