{% extends "website/layout.html" %}

{% block body %}
{% if not request.user.es_vacunador  and not request.user.es_administrador %} 
<div class="container">
    
    <div class="row">
    <div class="col">
        <form action="" method="post" enctype=multipart/form-data>
            {% csrf_token %}
            <table>
                {% for un_turno in lista_turnos %}
                <div class="col mb-5">
                    <div class="card h-100">
                        <div class="card-body p-4">
                            <div class="text-center">
                                <h5 class="fw-bolder">{{ un_turno.vacuna }}</h5>
                                <p> El turno está pendiente de aprobación, en cuanto un administrador lo apruebe podrás verlo en la sección de <a class="dropdown-item" style="color:blue" href="{% url 'ver_turnos' %}">Ver turnos aceptados</a></p>
                                <div class="nav-item"><a class="btn btn-outline-dark mt-auto" onclick="eliminar({{un_turno.id}})" href="#">Cancelar turno</a></div>
                            </div>
                        </div>
                    </div>
                </div>
                {% endfor  %}    
            </table>
        </form>
    </div>
    
</div>
  </div>

</div>
<script>
    function eliminar(id){
      Swal.fire({
        "title": "¿Estás seguro?",
        "text": "Esta acción no se podrá deshacer",
        "icon":"question",
        "showCancelButton":true,
        "cancelButtonText":"No, salir",
        "confirmButtonText":"Sí, cancelar",
        "reverseButtons":true,
        "confirmButtonColor":"#dc3545"
      })
      .then(function(result){
        if(result.isConfirmed){
          window.location.href= "cancelar_turno_usuario/"+id+"/"
        }
  
      })
    }
  </script>
{% else %} <h5> No tienes permisos para ver esta página</h5>
{% endif %}

{% endblock %}