{% extends "website/layout.html" %}

{% block body %}
<div style="margin-left: 10px; ">

    <form method="post">
        <div class="form-group">
          {% csrf_token %}
          {% for campo in usuario_form %}
            <p>
              {{ campo.label_tag }}<br>
              {{ campo }}
              {% if campo.help_text %}
                <small style="color: grey">{{ campo.help_text }}</small>
              {% endif %}
              {% for error in campo.errors %}
                <p style="color: red">{{ error }}</p>
              {% endfor %}
            </p>
          {% endfor %}
          {% if not request.user.es_vacunador %}
            {% if not request.user.es_administrador %}
              
                <input  class="btn btn-outline-success"  type="submit" value="Editar" style="width: 150px;">
                <div class="nav-item"><a class="btn btn-outline-dark mt-auto" href="{% url 'modificar_password' %}">Modificar contraseña</a></div>
                <div class="nav-item"><a class="btn btn-outline-dark mt-auto" href="{% url 'cargar_vacuna' %}">Cargar vacuna</a></div>
                
              </div>
              {%else%}
            <div class="nav-item"><a class="btn btn-outline-dark mt-auto" href="{% url 'añadir_rol_vacunador' id_usuario %}">Marcar como vacunador</a></div>
          
            {% endif%}
          {% endif%} 
          <div class="nav-item"><a class="btn btn-outline-dark mt-auto" href="{% url 'ver_historial_vacunacion' id_usuario %}">Ver historial de vacunacion</a></div>
        </div>
        
      </form>
    </div>
{% endblock %}